/* Header + NavBar Style */
.container-fluid {
    background-color: #660000;
}

.navbar-toggler {
    background-color: #7D1128;
    border: 3px solid #660000;
    border-radius: 12px;
    color: #660000;
}

.navbar-toggler:hover {
    background-color: #FB607F;
    border: 3px solid #7D1128;
    border-radius: 12px;
    color: #7D1128;
    box-shadow: 0 12px 16px 0 #320011, 0 17px 50px 0 #320011;
    transition-duration: 0.4s;
}

.navbar {
    z-index: 1000;
}

header {
    background-color: #660000;
}

.navbar-brand {
    height: auto;
    max-width: 10%;
}

.icnpic {
    height: auto;
    max-width: 10%;
}

@media (max-width: 768px) {
    .icnpic {
        display: none;
    }
}

.bttnz {
    background-color: #7D1128;
    border: 3px solid #320011;
    border-radius: 12px;
    color: #180012;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}

.bttnz:hover {
    background-color: #FB607F;
    border: 3px solid #7D1128;
    border-radius: 12px;
    color: #7D1128;
    box-shadow: 0 12px 16px 0 #320011, 0 17px 50px 0 #320011;
    transition-duration: 0.4s;
}

.bttnz.active {
    background-color: #320011 !important;
    border-color: #7D1128 !important;
    color: #7D1128 !important;
}

@media (max-width: 768px) {
    .bttnz {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.spcbttnz {
    background-color: #FB607F;
    border: 3px solid #7D1128;
    border-radius: 12px;
    color: #7D1128;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
}

.spcbttnz:hover {
    background-color: #7D1128;
    border: 3px solid #180012;
    border-radius: 12px;
    color: #180012;
    box-shadow: 0 12px 16px 0 #320011, 0 17px 50px 0 #320011;
    transition-duration: 0.4s;
}

.spcbttnz.active {
    background-color: #320011 !important;
    border-color: #7D1128 !important;
    color: #7D1128 !important;
}

@media (max-width: 768px) {
    .spcbttnz {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.collapsed-content {
    background-color: #660000;
    padding: 10px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #320011;
    border-radius: 12px;
}

/* Body Style */
body {
    background-color: #000A14;
    color: #E8F0FF;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    color: #7D1128;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p {
    color: #E8F0FF;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hlight {
    color: #FB607F;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Carousel Style */
#carslpics {
    z-index: 0;
}

.carousel-item img {
    border: none;
    border-radius: 10px;
    max-height: auto;
    max-width: 590px;
    display: block;
    margin: 0 auto;
}

.carousel-indicators {
    list-style: none;
    padding-left: 0;
}

.carousel-indicators li {
    background-color: #0C1B33;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    visibility: visible;
    border: none;
}

.carousel-indicators .active {
    background-color: #f40820;
}

/* Card Style */
.card {
    background-color: #660000;
    color: #FB607F;
    border: 3px solid #320011;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #0C1B33;
}

.card-text {
    font-size: 0.9rem;
}

.crdbttnz {
    background-color: #FB607F;
    border: 3px solid #320011;
    border-radius: 12px;
    color: #7D1128;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
}

.crdbttnz:hover {
    background-color: #7D1128;
    border: 3px solid #320011;
    border-radius: 12px;
    color: #180012;
    box-shadow: 0 12px 16px 0 #41020d, 0 17px 50px 0 #41020d;
    transition-duration: 0.4s;
}

.crdbttnz.active {
    background-color: #320011 !important;
    border-color: #180012 !important;
    color: #7D1128 !important;
}

/* Gallery Styles */
.artcard {
    position: relative;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 40px;
}

.artcard .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.artcard .card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.artcard:hover .card-img-top {
    transform: scale(1.1);
}

.artcard .card-body {
    flex-grow: 1;
}


/* Contact Info Styles */
.cntcbttnz {
    width: 150px;
    background-color: #7D1128;
    border: 3px solid #FB607F;
    border-radius: 12px;
    color: #FB607F;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}

.cntcbttnz:hover {
    background-color: #FB607F;
    border: 3px solid #660000;
    border-radius: 12px;
    color: #320011;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #0C1B33;
}

.cntcbttnz.active {
    background-color: #660000 !important;
    border-color: #320011 !important;
    color: #FB607F !important;
}

.icon-box {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.icon-box i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #7D1128;
    border: 3px solid #FB607F;
    border-radius: 5px;
}

.icon-box i:hover {
    cursor: pointer;
}

.icon-box:hover~.cntcbttnz {
    background-color: #FB607F;
    border: 3px solid #660000;
    border-radius: 12px;
    color: #320011;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #0C1B33;
}

.icon-box:active~.cntcbttnz {
    background-color: #660000 !important;
    border-color: #320011 !important;
    color: #FB607F !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .clumn1, .clumn2 {
        margin-bottom: 0;
    }

    .col-md-3 {
        max-width: 45%;
        margin: 0 5%;
        display: inline-block;
        vertical-align: top;
    }
}

#contactForm {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #660000;
    border: 3px solid #320011;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0C1B33;
}

#contactForm label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid #320011;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FB607F;
    color: #7D1128;
    border: 3px solid #320011;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#contactForm button[type="submit"]:hover {
    background-color: #7D1128;
    border: 3px solid #320011;
    border-radius: 12px;
    color: #180012;
    box-shadow: 0 12px 16px 0 #41020d, 0 17px 50px 0 #41020d;
    transition-duration: 0.4s;
}

@media screen and (max-width: 600px) {
    #contactForm button[type="submit"] {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    #contactForm {
        padding: 10px;
    }

    #contactForm input[type="text"],
    #contactForm input[type="email"],
    #contactForm textarea {
        padding: 6px;
    }

    #contactForm button[type="submit"] {
        padding: 8px;
    }
}

/* Footer Style */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin-bottom: 20px;
}

footer {
    background-color: #660000;
    color: #7D1128;
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

footer p {
    margin: 0;
    text-align: center;
    color: #FB607F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7rem;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #FB607F;
    color: #7D1128;
    border: 2px solid #7D1128;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #7D1128;
    color: #660000;
    border: 2px solid #180012;
}

#logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}