/* Header + NavBar Style */
.container-fluid {
    background-color: #3b3355;
}

.navbar-toggler {
    background-color: #5d5d81;
    border: 3px solid #3b3355;
    border-radius: 12px;
    color: #3b3355;
}

.navbar-toggler:hover {
    background-color: #bfcde0;
    border: 3px solid #5d5d81;
    border-radius: 12px;
    color: #5d5d81;
    box-shadow: 0 12px 16px 0 #271931, 0 17px 50px 0 #271931;
    transition-duration: 0.4s;
}

.navbar {
    z-index: 1000;
}

header {
    background-color: #3b3355;
}

.navbar-brand {
    height: auto;
    max-width: 10%;
}

.icnpic {
    height: auto;
    max-width: 10%;
}

@media (max-width: 768px) {
    .icnpic {
        display: none;
    }
}

.bttnz {
    background-color: #5d5d81;
    border: 3px solid #271931;
    border-radius: 12px;
    color: #3b3355;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}

.bttnz:hover {
    background-color: #bfcde0;
    border: 3px solid #5d5d81;
    border-radius: 12px;
    color: #5d5d81;
    box-shadow: 0 12px 16px 0 #271931, 0 17px 50px 0 #271931;
    transition-duration: 0.4s;
}

.bttnz.active {
    background-color: #2c203a !important;
    border-color: #5d5d81 !important;
    color: #5d5d81 !important;
}

@media (max-width: 768px) {
    .bttnz {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.collapsed-content {
    background-color: #3b3355;
    padding: 10px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #271931;
    border-radius: 12px;
}

/* Body Style */
body {
    background-color: #fefcfd;
    color: #000505;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    color: #3b3355;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p {
    color: #000505;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hlight {
    color: #3b3355;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Carousel Style */
#carslpics {
    z-index: 0;
}

.carousel-item img {
    border: none;
    border-radius: 10px;
    max-height: auto;
    max-width: 590px;
    display: block;
    margin: 0 auto;
}

.carousel-indicators {
    list-style: none;
    padding-left: 0;
}

.carousel-indicators li {
    background-color: #bfcde0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    visibility: visible;
    border: none;
}

.carousel-indicators .active {
    background-color: #7888df;
}

/* Card Style */
.card {
    background-color: #bfcde0;
    color: #3b3355;
    border: 3px solid #5a5e95;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #c1afce;
}

.card-text {
    font-size: 0.9rem;
}

.crdbttnz {
    background-color: #949bc4;
    border: 3px solid #5d5d81;
    border-radius: 12px;
    color: #5d5d81;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

.crdbttnz:hover {
    background-color: #5d5d81;
    border: 3px solid #3b3355;
    border-radius: 12px;
    color: #2c203a;
    box-shadow: 0 12px 16px 0 #7d80aa, 0 17px 50px 0 #7d80aa;
    transition-duration: 0.4s;
}

.crdbttnz.active {
    background-color: #3b3355 !important;
    border-color: #151021 !important;
    color: #5d5d81 !important;
}

/* Contact Info Styles */
.cntcbttnz {
    width: 150px;
    background-color: #bfcde0;
    border: 3px solid #5a5e95;
    border-radius: 12px;
    color: #5d5d81;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}

.cntcbttnz:hover {
    background-color: #5d5d81;
    border: 3px solid #3b3355;
    border-radius: 12px;
    color: #2c203a;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #c1afce;
}

.cntcbttnz.active {
    background-color: #3b3355 !important;
    border-color: #151021 !important;
    color: #5d5d81 !important;
}

.icon-box {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.icon-box i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #bfcde0;
    border: 3px solid #5a5e95;
    border-radius: 5px;
}

.icon-box i:hover {
    cursor: pointer;
}

.icon-box:hover~.cntcbttnz {
    background-color: #5d5d81;
    border: 3px solid #3b3355;
    border-radius: 12px;
    color: #2c203a;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #c1afce;
}

.icon-box:active~.cntcbttnz {
    background-color: #3b3355 !important;
    border-color: #151021 !important;
    color: #5d5d81 !important;
}

#contactForm {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #bfcde0;
    border: 3px solid #5a5e95;
    border-radius: 8px;
    box-shadow: 0 2px 4px #c1afce;
}

#contactForm label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid #5a5e95;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #949bc4;
    color: #5a5e95;
    border: 3px solid #5a5e95;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#contactForm button[type="submit"]:hover {
    background-color: #5d5d81;
    border: 3px solid #3b3355;
    border-radius: 12px;
    color: #2c203a;
    box-shadow: 0 12px 16px 0 #7d80aa, 0 17px 50px 0 #7d80aa;
    transition-duration: 0.4s;
}

@media screen and (max-width: 600px) {
    #contactForm button[type="submit"] {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    #contactForm {
        padding: 10px;
    }

    #contactForm input[type="text"],
    #contactForm input[type="email"],
    #contactForm textarea {
        padding: 6px;
    }

    #contactForm button[type="submit"] {
        padding: 8px;
    }
}

/* Footer Style */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin-bottom: 20px;
}

footer {
    background-color: #3b3355;
    color: #5d5d81;
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

footer p {
    margin: 0;
    text-align: center;
    color: #5d5d81;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7rem;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #bfcde0;
    color: #5d5d81;
    border: 2px solid #5d5d81;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #5d5d81;
    color: #3b3355;
    border: 2px solid #271931;
}

#logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}